/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-background-image: url("../images/cover-image-dark.png");
  --body-background-color: #000028;
  --title-text-color: #000028;
  --title-background-color: #ff0070;

  --decor-color: #ff0070;

  --decor-text-color: #db00ff;

  --accent-color: #ff0070;
  --button-color: #ff0070;
  --button-border-color: rgba(255, 0, 112, 0.4);

  --card-text-color: #f1b2ce;
  --section-title-text-color: #ff0070;
}
